<font size=6 bold=true>Dec 21 -- Part C
<br><br>Data Structure</font>

<font size=5 color='Olive'>For the first 5 lessons, DS will be combined with Python due to insufficiencies of Concepts</font>

In [1]:
import re
import sys
import os
from os import path
from datetime import datetime

# Data types and functions. We were there.

Numbers<br>
String<br>
List<br>
Tuple<br>
Set<br>
Dictionary

<br><font size=5>Functions Revisit</font>

In [24]:
#1: 
import os
from datetime import datetime

def generate_defaultfilename():
    folder=os.getcwd()
    filename=datetime.now().strftime("%b")+'_'+datetime.now().strftime("%m_%d_%Y_%H_%M_%S")+'.csv' 
    return path.join(folder, filename) 

#generate_defaultfilename()

In [26]:
# 2
def read_oneurl(url):  
    response=requests.get(url)  
    if response.status_code==200: 
        return get_pagetext(response)
    else: 
        return [[None, None, None, None]]

In [62]:
#3:  
import pandas as pd
df_coll=pd.read_csv('C:\\Coding\\utility_git\\Notebooks\\WAColleges.csv')
 
def get_universitylist(df_coll, namelike, state='WA'):
    return df_coll[(df_coll['InstitutionName'].str.contains(namelike)) & (df_coll['State']==state)]

get_universitylist(df_coll, namelike='Kirk')

,InstitutionName,UnitID,ParentID,OPEID,InstitutionType,Address,City,State,HasHistory
119,Kirkland Beauty School,179317,0,NaN,Institution,17311 140th Avenue N.E.,Woodinville,WA,False

In [71]:
#4
def avg_gpa(*reportcards):
    n=len(reportcards)
    total=0.0
    for sub in reportcards:
        total+=sub
    return total/n if n>0 else 1

avg_gpa(4,4,4,3,2,3)

3.3333333333333335

In [80]:
#5
def school_pga(**data): 
    for key, value in data.items():  
        print("school: {} avg gpa: {}\n".format(key,value))
school_pga(UIUC=3.75, UFlorida = 3.66)

# Object Oriented Programming: Define Classes

Class is a class 
<br>constructor

In [83]:
class Describe_College(object):
    
    def __init__(self,col_name, avg_gpa, avg_act, avg_sat, addr): 
        self.col_name=col_name
        self.avg_gpa=avg_gpa
        self.avg_act=avg_act
        self.avg_sat=avg_sat
        self.addr=addr 
    def basic_info(self):
        print("College: {} avg gpa requirement is {}".format(self.col_name,self.avg_gpa))

    def get_avggpa(self):
        return self.avg_gpa

c=Describe_College('Stanford', 3.0, 33.0, 1500, 'CA')
c.basic_info()
c.get_avggpa()